*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #171717;
}

.container {
    width: 1460px;
    margin: 0 auto;
    font-family: roboto, serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 120px;
}

.page-logo{
    object-fit: contain;
}

.header-container .button-top {
    display: flex;
    align-items: center;
}

.button-top{
    padding: 10px 25px 10px 10px;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
}

.phone-icon{
    padding: 10px;
}

.main-content {
    color: #FFFFFF;
    font-weight: 700;
}

.content-title {
    font-size: 50px;
    color: #FFFFFF;
}

.main-content p {
    margin: 41px 277px 41px 0;
    font-size: 20px;
    line-height: 1.4;
}

.content-works{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 25px;
    margin-bottom: 160px;
}

.content-works a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.content-work1,
.content-work2,
.content-work3,
.content-work4,
.content-work5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-work1 {
    grid-column: 1/3;
    background-color: #634F2C;
}

.content-work2 {
    grid-column: 3/5;
    background-color: #B4A385;
    text-align: center;
    padding: 44px;
}

.content-work3 {
    grid-column: 5/7;
    background-color: #E4B564;
}

.content-work4 {
    grid-column: 1/4;
    grid-row: 2;
    background-color: #635A4A;
}

.content-work5 {
    grid-column: 4/7;
    grid-row: 2;
    background-color: #B08C4D;
}

.content-machines {
    margin-top: 94px;
    margin-bottom: 190px;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 58px 126px 128px 277px;
    column-gap: 30px;
    row-gap: 26px;
}

.content-machines a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
.content-machine1,
.content-machine2,
.content-machine3,
.content-machine4,
.content-machine5,
.content-machine6,
.content-machine7 {
    display: flex;
    justify-content: flex-start;
    padding-top: 44px;
    padding-left: 52px;
}

.content-machine1 {
    grid-row:1/3;
    background-color: #0E0E0E;
}

.content-machine2 {
    grid-row: 1/4;
    background-color: #242424;
}

.content-machine3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #1F1F1F;
}

.content-machine4 {
    grid-column: 1/2;
    grid-row: 3/6;
    background-color: #1F1F1F;
}

.content-machine5 {
    grid-column: 2/3;
    grid-row: 4/6;
    background-color: #E4B564;

}

.content-machine5 a {
    color: #000000;
    font-weight: 500;
}

.content-machine6 {
    grid-column: 3/5;
    grid-row: 2/5;
    background-color: #0E0E0E;
}

.content-machine7 {
    grid-column: 3/5;
    grid-row: 5/6;
    background-color: #0A0909;
    font-weight: 700;
}

.clients {
    display: flex;
    justify-content: space-between;
}

.button-bottom {
    padding: 10px 40px;
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
    line-height: 1.8;
    font-size: 18px;
}

.clients-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    gap: 0;
    margin-top: 72px;
    margin-bottom: 238px;
}

.clients-item1,
.clients-item3,
.clients-item4,
.clients-item5,
.clients-item6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item1 {
    background-color: #634F2C;
}

.clients-item2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-item2 p{
    padding: 0 80px 61px 80px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

.clients-item3 {
    background-color: #E4B564;
}

.clients-item4 {
    background-color: #635A4A;
}

.clients-item5 {
    background-color: #B08C4D;
}

.clients-item6 {
    background-color: #634F2C;
}